n8n-workflows/03-invio-jotform-carrello.json
{
  "name": "03 - Invio Proposte Confermate → JotForm Carrello",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/progetto/invia-carrello",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "webhook-invio-carrello",
      "name": "Webhook Invio Carrello",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "api-invio-carrello"
    },
    {
      "parameters": {
        "jsCode": "// Prepara i dati per l'invio al JotForm carrello\n// Form ID: 260832964392061\nconst input = $input.first().json.body || $input.first().json;\nconst selezioni = input.selezioni || [];\nconst brief = input.brief || {};\n\n// Struttura per JotForm Products/Cart\n// JotForm usa un formato specifico per i campi prodotto nel carrello\n// Il campo prodotto ha sottocampi: nome, prezzo, quantità, descrizione\n\n// Prepara gli items del carrello\nconst cartItems = selezioni.map((sel, index) => {\n  return {\n    categoria: sel.categoria,\n    nome: sel.nome,\n    descrizione: sel.descrizione || '',\n    prezzo: sel.costo_reale || sel.prezzo_stimato || 0,\n    quantita: sel.quantita || 1,\n    note: sel.note || '',\n    fornitore_confermato: sel.fornitore_confermato || false\n  };\n});\n\n// Calcola totali\nconst totale = cartItems.reduce((sum, item) => sum + (item.prezzo * item.quantita), 0);\n\nreturn {\n  json: {\n    brief: brief,\n    cartItems: cartItems,\n    totale: totale,\n    progetto_id: input.progetto_id\n  }\n};"
      },
      "id": "prepara-carrello",
      "name": "Prepara Dati Carrello",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Costruisci il payload per JotForm API\n// Endpoint: https://api.jotform.com/form/260832964392061/submissions\nconst input = $input.first().json;\nconst cartItems = input.cartItems;\nconst brief = input.brief;\n\n// ===============================================\n// IMPORTANTE: Prima di usare questo workflow,\n// esegui questa chiamata per scoprire gli ID reali dei campi:\n// GET https://api.jotform.com/form/260832964392061/questions?apiKey=TUA_API_KEY\n//\n// Poi sostituisci i numeri dei campi qui sotto con quelli reali.\n// In particolare, trova il campo di tipo 'control_payment' \n// per il carrello prodotti e usa il suo ID al posto di CART_FIELD_ID.\n// ===============================================\n\nconst submission = {};\n\n// Campi informativi base (ADATTA GLI ID ai campi reali del tuo form)\nsubmission['submission[3]'] = brief.nome_evento || '';\nsubmission['submission[4]'] = brief.nome_cliente || '';\nsubmission['submission[5]'] = brief.data_evento || '';\nsubmission['submission[6]'] = brief.numero_partecipanti || '';\n\n// Campo prodotto/carrello JotForm\n// FORMATO CORRETTO per campi payment/cart JotForm:\n// submission[FIELD_ID_paymentArray_products][N] = nome prodotto\n// submission[FIELD_ID_paymentArray_price][N]    = prezzo\n// submission[FIELD_ID_paymentArray_quantity][N]  = quantità\n//\n// SOSTITUISCI 'CART_FIELD_ID' con l'ID reale del campo carrello\n// trovato nella risposta di GET /form/260832964392061/questions\n\nconst CART_FIELD_ID = '10'; // <-- CAMBIA con l'ID reale del campo carrello\n\ncartItems.forEach((item, index) => {\n  submission[`submission[${CART_FIELD_ID}_paymentArray_products][${index}]`] = `[${item.categoria}] ${item.nome}`;\n  submission[`submission[${CART_FIELD_ID}_paymentArray_price][${index}]`] = item.prezzo;\n  submission[`submission[${CART_FIELD_ID}_paymentArray_quantity][${index}]`] = item.quantita || 1;\n});\n\n// Totale (calcolato anche automaticamente da JotForm)\nconst totale = cartItems.reduce((sum, item) => sum + (item.prezzo * (item.quantita || 1)), 0);\nsubmission[`submission[${CART_FIELD_ID}_paymentArray_total]`] = totale;\nsubmission[`submission[${CART_FIELD_ID}_paymentArray_currency]`] = 'EUR';\n\nreturn {\n  json: {\n    form_id: '260832964392061',\n    submission: submission,\n    cartItems: cartItems,\n    totale: totale,\n    progetto_id: input.progetto_id\n  }\n};"
      },
      "id": "mappa-campi-jotform",
      "name": "Mappa Campi JotForm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.jotform.com/form/260832964392061/submissions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APIKEY",
              "value": "INSERISCI_QUI_LA_TUA_JOTFORM_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": "={{ Object.entries($json.submission).map(([k, v]) => ({ name: k, value: String(v) })) }}"
        },
        "options": {}
      },
      "id": "invio-jotform",
      "name": "Invio a JotForm Carrello",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "jsCode": "// Verifica risultato invio e aggiorna lo stato del progetto\nconst input = $input.first().json;\nconst progettoId = $('Mappa Campi JotForm').first().json.progetto_id;\n\nconst staticData = $getWorkflowStaticData('global');\n\nif (staticData.progetti && staticData.progetti[progettoId]) {\n  staticData.progetti[progettoId].stato = 'inviato';\n  staticData.progetti[progettoId].jotform_submission_id = input.content?.submissionID || null;\n  staticData.progetti[progettoId].storico.push({\n    data: new Date().toISOString(),\n    azione: 'Proposte inviate al JotForm carrello',\n    utente: 'sistema',\n    jotform_response: input\n  });\n  \n  // Aggiorna indice\n  if (staticData.indice_progetti) {\n    const idx = staticData.indice_progetti.findIndex(p => p.id === progettoId);\n    if (idx >= 0) {\n      staticData.indice_progetti[idx].stato = 'inviato';\n    }\n  }\n}\n\nreturn {\n  json: {\n    success: input.responseCode === 200 || input.content?.submissionID,\n    message: input.content?.submissionID \n      ? `Invio riuscito! Submission ID: ${input.content.submissionID}`\n      : 'Invio completato - verifica su JotForm',\n    submission_id: input.content?.submissionID || null,\n    progetto_id: progettoId\n  }\n};"
      },
      "id": "verifica-invio",
      "name": "Verifica e Aggiorna Stato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "risposta-invio",
      "name": "Risposta Invio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1420, 300]
    }
  ],
  "connections": {
    "Webhook Invio Carrello": {
      "main": [
        [{ "node": "Prepara Dati Carrello", "type": "main", "index": 0 }]
      ]
    },
    "Prepara Dati Carrello": {
      "main": [
        [{ "node": "Mappa Campi JotForm", "type": "main", "index": 0 }]
      ]
    },
    "Mappa Campi JotForm": {
      "main": [
        [{ "node": "Invio a JotForm Carrello", "type": "main", "index": 0 }]
      ]
    },
    "Invio a JotForm Carrello": {
      "main": [
        [{ "node": "Verifica e Aggiorna Stato", "type": "main", "index": 0 }]
      ]
    },
    "Verifica e Aggiorna Stato": {
      "main": [
        [{ "node": "Risposta Invio", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "L'Oréal Eventi" },
    { "name": "JotForm Output" }
  ]
}
