n8n-workflows/capture-reply-fornitori.json
{
  "name": "OREO - Cattura Risposte Fornitori",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            { "mode": "everyMinute" }
          ]
        },
        "mailbox": "INBOX",
        "format": "resolved",
        "options": {
          "filter": {
            "from": "@yegevents.it"
          }
        }
      },
      "id": "imap-trigger",
      "name": "IMAP - Controlla Email",
      "type": "n8n-nodes-base.imapTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "imap": {
          "id": "INSERISCI_CREDENZIALI_IMAP",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.from.email }}",
              "operation": "notContains",
              "value2": "yegevents.it"
            }
          ]
        }
      },
      "id": "filter-not-yeg",
      "name": "Filtra: non da YEG",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oreo.vercel.app/api/email-reply",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "from_email", "value": "={{ $json.from.email }}" },
            { "name": "to_email", "value": "={{ $json.to.email }}" },
            { "name": "subject", "value": "={{ $json.subject }}" },
            { "name": "body_text", "value": "={{ $json.text }}" },
            { "name": "body_html", "value": "={{ $json.html }}" },
            { "name": "received_at", "value": "={{ $json.date }}" }
          ]
        },
        "options": {}
      },
      "id": "send-to-webapp",
      "name": "Invia a OREO Web App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [690, 300]
    }
  ],
  "connections": {
    "IMAP - Controlla Email": {
      "main": [
        [{ "node": "Filtra: non da YEG", "type": "main", "index": 0 }]
      ]
    },
    "Filtra: non da YEG": {
      "main": [
        [{ "node": "Invia a OREO Web App", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {},
  "tags": [{ "name": "oreo" }, { "name": "email" }, { "name": "reply" }]
}