n8n-workflows/unified-workflow.json
{
  "name": "YEG Event Planner - Workflow Unificato",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brief",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "webhook-brief",
      "name": "Webhook Brief",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "yeg-brief"
    },
    {
      "parameters": {
        "jsCode": "// ======= QUERY FORNITORI DA SUPABASE =======\nconst input = $input.first().json;\nconst body = input.body || input;\nconst brief = body.brief;\nconst progettoId = body.progetto_id;\n\nif (!brief || !progettoId) {\n  return { json: { error: 'brief e progetto_id richiesti' } };\n}\n\n// Prepara i parametri di ricerca per Supabase\nconst citta = (brief.citta || '').toLowerCase();\nconst pax = brief.numero_partecipanti || 50;\nconst budget = brief.budget_totale || 0;\n\n// Identifica componenti richieste\nconst componenti = [];\nif (brief.hotel_attivo) componenti.push('hotel');\nif (brief.location_attiva) componenti.push('location');\nif (brief.catering_attivo) componenti.push('catering');\nif (brief.trasporti_attivi) componenti.push('trasporti');\nif (brief.entertainment_attivo) componenti.push('entertainment');\nif (brief.teambuilding_attivo) componenti.push('teambuilding');\n\nreturn {\n  json: {\n    progetto_id: progettoId,\n    brief: brief,\n    citta: citta,\n    pax: pax,\n    budget: budget,\n    componenti: componenti\n  }\n};"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/search_fornitori",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_citta\": \"{{ $json.citta }}\",\n  \"p_categorie\": {{ JSON.stringify($json.componenti) }},\n  \"p_pax\": {{ $json.pax }}\n}",
        "options": { "timeout": 15000 }
      },
      "id": "query-supabase",
      "name": "Query Fornitori Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 200],
      "notes": "Se non hai la funzione RPC, usa GET /rest/v1/fornitori?citta=ilike.*milano*&categoria=in.(location,catering)"
    },
    {
      "parameters": {
        "jsCode": "// ======= GENERA PROMPT PER AI =======\nconst parseData = $('Parse Input').first().json;\nconst brief = parseData.brief;\nconst fornitori = $input.first().json || [];\n\n// Formatta fornitori YEG trovati\nlet fornitoriText = '';\nif (Array.isArray(fornitori) && fornitori.length > 0) {\n  fornitoriText = '\\n\\n--- FORNITORI DATABASE YEG (prioritari) ---';\n  fornitori.forEach(f => {\n    const det = [];\n    if (f.capacita_max) det.push(`Max ${f.capacita_max} pax`);\n    if (f.prezzo_min || f.prezzo_max) det.push(`${f.prezzo_min || '?'}-${f.prezzo_max || '?'} EUR ${f.prezzo_unita || ''}`);\n    if (f.specifiche) det.push(JSON.stringify(f.specifiche));\n    if (f.note) det.push(f.note);\n    fornitoriText += `\\n[${f.categoria}] ${f.nome} (${f.citta}) | ${det.join(' | ')}`;\n  });\n  fornitoriText += '\\n--- FINE FORNITORI YEG ---';\n}\n\n// Costruisci dettagli componenti\nlet dettagli = '';\nif (brief.hotel_attivo) {\n  dettagli += `\\n\\nHOTEL: check-in ${brief.hotel_checkin}, check-out ${brief.hotel_checkout}, ${brief.camere_singole} singole + ${brief.camere_doppie} doppie = ${(brief.camere_singole||0)+(brief.camere_doppie||0)} camere, min ${brief.hotel_stelle_minime || 4} stelle. ${brief.hotel_note || ''}`;\n}\nif (brief.location_attiva) {\n  dettagli += `\\n\\nLOCATION: setup ${brief.location_setup}, AV: ${(brief.location_av||[]).join(', ')}, tipologia: ${brief.location_tipologia || 'qualsiasi'}. ${brief.location_note || ''}`;\n}\nif (brief.catering_attivo) {\n  dettagli += `\\n\\nCATERING: ${brief.coffee_break_num || 0} coffee break, ${brief.pranzo_num || 0} pranzi, ${brief.cena_num || 0} cene, ${brief.aperitivo_num || 0} aperitivi. Esigenze: ${brief.esigenze_alimentari || 'nessuna'}. ${brief.catering_note || ''}`;\n}\nif (brief.trasporti_attivi) {\n  dettagli += `\\n\\nTRASPORTI: ${(brief.trasporti_tipo||[]).join(', ')}. ${brief.trasporti_note || ''}`;\n}\nif (brief.entertainment_attivo) {\n  dettagli += `\\n\\nENTERTAINMENT: ${brief.entertainment_tipo || 'da definire'}. ${brief.entertainment_note || ''}`;\n}\nif (brief.teambuilding_attivo) {\n  dettagli += `\\n\\nTEAM BUILDING: ${brief.teambuilding_note || 'da definire'}`;\n}\n\nconst prompt = `Sei un senior event planner dell'agenzia YEG Events (Torino). Analizza questo brief e genera proposte CONCRETE e REALI.\n\n--- BRIEF ---\nEvento: ${brief.nome_evento} (${brief.tipologia_evento})\nAzienda: ${brief.azienda}\nCitta: ${brief.citta}\nDate: ${brief.data_inizio} ${brief.orario_inizio || ''} - ${brief.data_fine} ${brief.orario_fine || ''}\nPartecipanti: ${brief.numero_partecipanti}\nBudget totale: ${brief.budget_totale || 'da definire'} EUR\nAgenda: ${brief.agenda || 'non specificata'}\n${dettagli}\n--- FINE BRIEF ---\n${fornitoriText}\n\nOBIETTIVO: Per OGNI componente richiesta (${parseData.componenti.join(', ')}), genera esattamente 5 proposte.\n\nPRIORITA AI FORNITORI YEG: se ci sono fornitori YEG adatti (capacita, citta, budget), mettili nelle prime posizioni con is_yeg_supplier:true. Completa con fornitori reali trovabili online.\n\nINOLTRE, genera un campo \"brief_interpretato\" con la tua analisi del brief.\n\nRISPONDI SOLO JSON:\n{\n  \"brief_interpretato\": {\n    \"sintesi\": \"riepilogo in 2-3 frasi\",\n    \"obiettivi_evento\": \"cosa vuole ottenere il cliente\",\n    \"tono_evento\": \"formale|informale|lusso|dinamico\",\n    \"priorita\": [\"lista priorita\"],\n    \"suggerimenti_ai\": \"consigli strategici per l'event manager\"\n  },\n  \"categorie\": {\n    \"nome_categoria\": {\n      \"proposte\": [\n        {\n          \"nome\": \"Nome reale fornitore\",\n          \"categoria\": \"location|catering|hotel|trasporti|entertainment|teambuilding\",\n          \"descrizione\": \"max 80 parole\",\n          \"motivo_match\": \"perche risolve QUESTA esigenza del brief\",\n          \"prezzo_stimato\": numero,\n          \"capacita\": \"capienza\",\n          \"indirizzo\": \"indirizzo/zona\",\n          \"punti_forza\": [\"p1\",\"p2\",\"p3\"],\n          \"adeguatezza_budget\": 0-100,\n          \"note\": \"criticita o info extra\",\n          \"sito_web\": \"URL reale\",\n          \"contatto\": \"tel/email se noto\",\n          \"is_yeg_supplier\": true/false\n        }\n      ]\n    }\n  }\n}`;\n\nreturn {\n  json: {\n    progetto_id: parseData.progetto_id,\n    prompt: prompt,\n    componenti: parseData.componenti\n  }\n};"
      },
      "id": "genera-prompt",
      "name": "Genera Prompt AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope-intl.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.QWEN_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen-plus\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un esperto event planner italiano con conoscenza approfondita di location, catering, hotel e servizi per eventi corporate in Italia. Rispondi SEMPRE e SOLO con JSON valido, senza markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 12000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": { "timeout": 180000 }
      },
      "id": "qwen-api",
      "name": "AI Qwen - Genera Proposte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "// ======= SALVA PROPOSTE IN SUPABASE =======\nconst aiResponse = $input.first().json;\nconst progettoId = $('Genera Prompt AI').first().json.progetto_id;\n\n// Parsing risposta AI\nlet parsed;\ntry {\n  const content = aiResponse.choices[0].message.content;\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  const content = aiResponse.choices[0].message.content;\n  const m = content.match(/\\{[\\s\\S]*\\}/);\n  if (m) parsed = JSON.parse(m[0]);\n  else throw new Error('JSON non valido dalla AI');\n}\n\n// Raccogli tutte le proposte\nconst proposte = [];\nif (parsed.categorie) {\n  for (const [catKey, catData] of Object.entries(parsed.categorie)) {\n    const prps = catData.proposte || [];\n    prps.forEach((p, idx) => {\n      proposte.push({\n        progetto_id: progettoId,\n        categoria: p.categoria || catKey,\n        nome: p.nome,\n        descrizione: p.descrizione || null,\n        motivo_match: p.motivo_match || null,\n        prezzo_stimato: p.prezzo_stimato || null,\n        capacita: p.capacita || null,\n        indirizzo: p.indirizzo || null,\n        punti_forza: p.punti_forza || [],\n        adeguatezza_budget: p.adeguatezza_budget || null,\n        note: p.note || null,\n        sito_web: p.sito_web || null,\n        contatto: p.contatto || null,\n        immagine_url: p.immagine_url || null,\n        fonte: 'ai',\n        is_yeg_supplier: p.is_yeg_supplier || false,\n        selezionato_manager: false,\n        selezionato_cliente: false,\n        ordine: idx\n      });\n    });\n  }\n}\n\nreturn {\n  json: {\n    progetto_id: progettoId,\n    brief_interpretato: parsed.brief_interpretato || null,\n    proposte: proposte,\n    totale_proposte: proposte.length\n  }\n};"
      },
      "id": "parse-ai",
      "name": "Parse Risposta AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/proposte",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.proposte) }}",
        "options": {}
      },
      "id": "save-proposte",
      "name": "Salva Proposte Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/progetti?id=eq.{{ $('Parse Risposta AI').first().json.progetto_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stato\": \"in_lavorazione\",\n  \"brief_interpretato\": {{ JSON.stringify($('Parse Risposta AI').first().json.brief_interpretato) }}\n}",
        "options": {}
      },
      "id": "update-progetto",
      "name": "Aggiorna Progetto Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, progetto_id: $('Parse Risposta AI').first().json.progetto_id, totale_proposte: $('Parse Risposta AI').first().json.totale_proposte }) }}"
      },
      "id": "risposta",
      "name": "Risposta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1980, 300]
    }
  ],
  "connections": {
    "Webhook Brief": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "Query Fornitori Supabase", "type": "main", "index": 0 }]]
    },
    "Query Fornitori Supabase": {
      "main": [[{ "node": "Genera Prompt AI", "type": "main", "index": 0 }]]
    },
    "Genera Prompt AI": {
      "main": [[{ "node": "AI Qwen - Genera Proposte", "type": "main", "index": 0 }]]
    },
    "AI Qwen - Genera Proposte": {
      "main": [[{ "node": "Parse Risposta AI", "type": "main", "index": 0 }]]
    },
    "Parse Risposta AI": {
      "main": [[{ "node": "Salva Proposte Supabase", "type": "main", "index": 0 }]]
    },
    "Salva Proposte Supabase": {
      "main": [[{ "node": "Aggiorna Progetto Supabase", "type": "main", "index": 0 }]]
    },
    "Aggiorna Progetto Supabase": {
      "main": [[{ "node": "Risposta Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "L'Oreal Eventi" },
    { "name": "Produzione" }
  ]
}
